<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [26]:
#this url contains the data you need to scrape
#url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [27]:
# Your code here

from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

import pandas as pd

Download the webpage at the url

In [28]:
#your code goes here
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

Create a soup object

In [29]:
#your code goes here

data  = requests.get(url).text 
#soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

Scrape the `Language name` and `annual average salary`.

In [30]:
#your code goes here
table = soup.find_all('table') # in html table is represented by the tag <table>

In [31]:
len(table)

1

Save the scrapped data into a file named *popular-languages.csv*

In [32]:
#table

In [58]:
#Creating DataFrame
progSal_Data = pd.DataFrame(columns=["Language", "Avg Annual Salary"])

for row in table[0].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        progName = col[0].text
        progSalry = col[1].text            
        progSal_Data = progSal_Data.append({"Language":progName, "Avg Annual Salary":progSalry}, ignore_index=True)

progSal_Data.reset_index(drop=True, inplace=True)
progSal_Data

# Converting Pandas DataFrame into CSV file
#progSal_Data.to_csv('popular-language.csv')

   Language Avg Annual Salary
0       No.          Language
1         1            Python
2         2              Java
3         3                 R
4         4        Javascript
5         5             Swift
6         6               C++
7         7                C#
8         8               PHP
9         9               SQL
10       10                Go

In [59]:
#progSal_Data.reset_index(drop=True, inplace=True)
#progSal_Data

In [60]:
progSal_Data.to_csv('popular-language.csv', index=False)
progSal_Data

   Language Avg Annual Salary
0       No.          Language
1         1            Python
2         2              Java
3         3                 R
4         4        Javascript
5         5             Swift
6         6               C++
7         7                C#
8         8               PHP
9         9               SQL
10       10                Go

In [61]:
# Read PopProg File

filename = 'popular-language.csv'

with open(filename, 'r') as readProgSal:
    print(readProgSal.read())

Language,Avg Annual Salary
No.,Language
1,Python
2,Java
3,R
4,Javascript
5,Swift
6,C++
7,C#
8,PHP
9,SQL
10,Go

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01).